<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-apptimize"
    version="0.0.1">
    
    <name>Apptimize Cordova Plugin</name>
    <description>Apptimize A/B Testing For Cordova</description>
    <license>Apache 2.0</license>
    <keywords>ab testing, a/b testing, apptimize, feature flags</keywords>
    
    <js-module src="www/apptimize.js" name="Apptimize">
        <clobbers target="apptimize" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ApptimizeCordovaPlugin">
                <param name="ios-package" value="ApptimizeCordovaPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/ApptimizeCordovaPlugin.h" />
        <source-file src="src/ios/ApptimizeCordovaPlugin.m" />
        
        
        <!-- possibly set plist appkey value instead of via apptimizeStart aka setup -->
        
        <!--
         TODO: embedded binaries:
         http://stackoverflow.com/questions/36650522/custom-cordova-plugin-add-framework-to-embedded-binaries
         for now just do it manually in xcode
         -->
        <framework src="src/ios/Apptimize.framework" custom="true" />
    </platform>
    
</plugin>
